* {
  font-family: "Poppins";
}
span {
  font-family: "Poppins" !important;
}
.clicked-true {
  color: #05386b !important;
}
.clicked-false {
  color: #707070 !important;
}
.cCursor {
  cursor: pointer;
}

.hover {
  transition: 0.2s all;
}

.hover:hover {
  color: #05386b;
}
